*.[Bb][Aa][Kk]

*.[Dd][Bb][Ff]
*.[Ff][Pp][Tt]
*.[Cc][Dd][Xx]

*.[Pp][Jj][Xx]
*.[Pp][Jj][Tt]

*.[Ff][Xx][Pp]

*.[Ss][Cc][Xx]
*.[Ss][Cc][Tt]

*.[Vv][Cc][Xx]
*.[Vv][Cc][Tt]

*.[Ff][Rr][Xx]
*.[Ff][Rr][Tt]

[Bb][Ii][Nn]/*.*
[Rr][Ee][Ss][Oo][Uu][Rr][Cc][Ee]/_command.prg
